<%= form_for @recipe, html: { multipart: true } do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :ingredients %><br>
    <%= f.text_area :ingredients %>
  </div>
  <div class="field">
    <%= f.label :instructions %><br>
    <%= f.text_area :instructions %>
  </div>


  <h2>Tags</h2>
  <%= f.fields_for :tags do |tag| %>
    <div class="tag_fields">
      <div class="field">
        <%= tag.label :name %><br>
        <%= tag.text_field :name %>
        <%= tag.check_box :_destroy %>
        <%= tag.label :_destroy, 'remove' %>
      </div>
    </div>
    <% end %>

    <h2>Ratings</h2>
    <%= f.fields_for :ratings do |rating| %>
      <div class="rating_fields">
        <div class="field">
          <%= rating.label :rate %><br>
          <%= rating.text_field :rate %>
          <%= rating.check_box :_destroy %>
          <%= rating.label :_destroy, 'remove' %>
        </div>
      </div>
    <% end %>


    <form action="/recipes/<%=@recipe.id%>/add_rating" method="post">
     <select id="rating_id" name="rating[rate]">
       <option>Rate It</options>
       <option value="1">1 Star</option>
       <option value="2">2 Stars</option>
       <option value="3">3 Stars</option>
       <option value="4">4 Stars</option>
       <option value="5">5 Stars</option>
     </select>
     <div class="actions">
       <input type="submit" value="Add Rating">
     </div>
    </form>


    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>
