<!-- header-->
<%= render 'header' %>

<div class="row">
  <div class="col-md-12 text-center">
    <% if !@recipe.ratings.average(:rate).nil? %>
      <h1><%= @recipe.title %></h1>
      <h2 id="rate"><%= @recipe.ratings.average(:rate).round(1) %></h2>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="col-md-offset-4 col-md-2 well show">
    <p id="notice"><%= notice %></p>
    <p>
      <strong>Title:</strong>
      <%= @recipe.title %>
    </p>
    <p>
      <strong>Image:</strong>
      <%= image_tag(@recipe.image.url(:med), alt:"Upload Image") %>
    </p>
    <p>
      <strong>Author:</strong>
      <%= @recipe.author %>
    </p>
    <p>
      <strong>Ingredients:</strong>
      <%= @recipe.ingredients %>
    </p>
    <p>
      <strong>Instructions:</strong>
      <%= @recipe.instructions %>
    </p>

    <strong>Tags:</strong>
    <% if @recipe.tags.any? %>
      <p>
        <% @recipe.tags.each do |tag| %>
          <%= tag.name %>
        <% end %>
      </p>
    <% else %>
      <p>none available</p>
    <% end %>

    <strong>Ratings:</strong>
    <% if @recipe.ratings.any? %>
      <p>
        <% @recipe.ratings.each do |rating| %>
          <%= rating.rate %>
        <% end %>
      </p>
    <% else %>
      <p>none available</p>
    <% end %>

    <strong>Average Rating:</strong>
    <p>
      <%= @recipe.average_rating %>
    </p>

</div>




<div class="col-md-2 well tagandrate">
      <form class="new_tag" id="new_tag" action="/recipes/<%= @recipe.id %>/add_tag" accept-charset="UTF-8" method="post">
        <div class="field">
          <label for="tag_name">Add Tag</label><br>
          <input type="text" name="tag[name]" id="tag_name" />
        </div>
        <div class="actions">
          <input type="submit" name="commit" value="Add" />
        </div>
      </form>
      <br>

      <form action="/recipes/<%=@recipe.id%>/add_rating" method="post">
      <label for="rating_id">Add Rating</label><br>
       <select id="rating_id" name="rating[rate]">
         <option>Select</options>
         <option value="1">1 Star</option>
         <option value="2">2 Stars</option>
         <option value="3">3 Stars</option>
         <option value="4">4 Stars</option>
         <option value="5">5 Stars</option>
       </select>
       <br>
       <div class="actions">
         <input type="submit" value="Add">
       </div>
      </form>
      <br>
      <br>




      <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
      <%= link_to 'Back', recipes_path %>
    </div>
  </div>
</div>
